<!DOCTYPE html>
<html>
  <head>
    <title>YelpCamp</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
    />
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="">
        <div class="navbar-header">
          <a href="#" class="navbar-brand">YelpCamp</a>
          <button
            class="navbar-toggle"
            data-toggle="collapse"
            data-target=".bs-nav-demo"
          >
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse bs-nav-demo">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/campgrounds">Home</a></li>
            <li><a href="#">About</a></li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <%if(!currentUser){ %>
            <li><a href="/login">LogIn</a></li>
            <li>
              <a href="/register">Sign Up</a>
            </li>
            <% } else{ %>
            <li><a href="#">Signed In As <%= currentUser.username %></a></li>
            <li>
              <a href="/logout">LogOut</a>
            </li>
            <% } %>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      <div class="jumbotron">
        <div class="row">
          <h1 style="text-align: center;">Create a new Campground</h1>
          <div style="width:30%; margin:25px auto;">
            <form action="/campgrounds" method="POST" class="from-group">
              <input
                class="form-control"
                type="text"
                name="name"
                placeholder="name"
              /><br />
              <input
                class="form-control"
                type="text"
                name="image"
                placeholder="image url"
              /><br />
              <input
                class="form-control"
                type="text"
                name="description"
                placeholder="description"
              /><br />
              <button class="btn btn-lg btn-primary btn-block">Submit!</button>
            </form>
            <a href="/campgrounds">Go Back</a>
          </div>
        </div>
      </div>
    </div>

    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
      integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
      integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
