<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link
      rel="stylesheet"
      type="text/css"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
    />
  </head>
  <body>
    <h1>Landing page</h1>
    <p>Welcome to YelpCamp</p>

    <a href="/campgrounds">View all Campgrounds</a>
  </body>
</html>
